@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5fafb;
}

h1,
h2,
h3 {
  color: #2e3057;
}

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background: #2e30577d;
  border-radius: 5px;
}
